@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-black: black;
}
@font-face {
  font-family: "rift";
  src: url("./font/RiftTest-Demi.otf") format("opentype"); /* Đường dẫn đến tệp font .otf */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "circular-std-book";
  src: url("./font/Circular-std-book.ttf") format("opentype"); /* Đường dẫn đến tệp font .otf */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rift-bold";
  src: url("./font/RiftSoftTest-Bold.otf") format("opentype"); /* Đường dẫn đến tệp font .otf */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rift-medium";
  src: url("./font//RiftTest-Medium.otf") format("opentype"); /* Đường dẫn đến tệp font .otf */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rift-regular";
  src: url("./font//RiftTest-Regular.otf") format("opentype"); /* Đường dẫn đến tệp font .otf */
  font-weight: normal;
  font-style: normal;
}
.pdf_option {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.pdf_option button {
  font-size: 1.5rem;
  width: 10rem;
  outline: none;
  border: 1px solid;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: rift, sans-serif;
}
html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
h6 {
  font-size: 1.5rem !important;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-nav {
  gap: 18px;
}
.nav-item > a {
  text-transform: uppercase;
  font-size: 15px;
  color: #00377a !important;
  font-weight: 600;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
}
#Top_bar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0 !important;
  z-index: 701;
  background: #fff;
  opacity: 0.97;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

/*======================================================== Footer ==============================================================*/
#footer {
  background-color: #00377a;
  color: #fff;
  padding-top: 24px;
}
.column.one-third {
  background-color: #00377a;
  margin: 0;
  padding: 30px 50px;
  width: calc(33% - 100px);
}
.column.two-third {
  line-height: 25px;
  padding-left: 120px;
  margin: 0 13px;
  width: calc(65% - 100px);
}
.column.two-third p {
  margin: 0 0 15px;
  font-family: "circular std book";
  font-size: 15px;
}
.column.two-third a {
  color: #7e90a6;
  text-decoration: none;
}
/* main */
#main {
  margin-top: 100px;
  padding-bottom: 10rem;
}
.main-content {
  width: 66.666%;
  padding-top: 70px;
}
.main-content .content {
  display: flex;
}

.title-main h2 {
  color: #00377a;
  text-transform: uppercase;
  font-size: clamp(4rem, 4vw, 6.4rem);
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "rift-medium";
}
.content-des > p {
  font-family: serif;
  font-size: 15px;
  margin: 0 0 15px;
  color: #6b6d7b;
}
/* ==========================================================Course */
.course-container-detail {
  background-color: #00377a;
  color: #fff;
  width: 90%;
  float: right;
}
.content-left {
  margin-bottom: 2rem;
}
.course-content-detail {
  padding: 5.3rem 4.3rem;
}
.course-content-detail > h4 {
  font-size: 34px;
}
.res-half > p {
  font-family: circular std book !important;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.course-container-fixed {
  margin-top: 0;
  position: fixed;
  top: 170px;
  width: 433.2px;
  padding: 0;
  z-index: 1;
}
.accordion-item.active {
  border-left: 2px solid #00377a;
}
.accordion-header .accordion-button {
  color: #00377a;
  font-size: 3.5rem !important;
  font-weight: 700;
}
.accordion-button:not(.collapsed) {
  color: #00377a !important;
  background-color: #fff !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.125);
}
.to-half > h6 {
  color: #fab101;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}
.to-half {
  width: 50%;
  float: left;
}
.to-half > p {
  color: #6b6d7b;
  font-family: circular std book;
  font-size: 1.6rem;
}
table th {
  color: #444444;
  font-size: 15px;
  font-weight: 700;
}
table td {
  color: #000;
  display: table-cell;
  font-size: 1.6rem;
}

tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
table tr td:nth-child(2) {
  text-align: left;
}
table th,
table td {
  padding: 10px;
  text-align: center;
  border-width: 0 1px 1px 0 !important;
  border-style: solid;
  vertical-align: middle;
}
.accordion-body p {
  color: #6b6d7b;
  font-family: circular std book;
  font-size: 15px;
  margin: 0px 0px 15px;
}
.accordion-body li {
  color: #6b6d7b;
  display: list-item;
  font-family: circular std book;
  font-size: 15px;
  margin: 0px 0px 10px;
  text-align: left;
}
.accordion-body ul {
  margin-left: 0.8rem;
}
.accordion-body h6 {
  color: #fab101;
}
/*=============================================Program==================================== */
.program h4 {
  font-size: 2.5rem;
  color: #00377a;
}
.program p {
  font-size: 1.5rem;
  color: #6b6d7b;
}
/* Reposive */

/* Menu mobile */

.nav-menu {
  position: absolute;
  top: 50px;
  right: 20px;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 45px;
  border: 1px solid #fff;
  cursor: pointer;
}
.menu {
  position: relative;
  background: #fff;
  width: 75px;
  height: 14.2857142857px;
  border-radius: 75px;
  transition: 0.3s;
}
.menu:before,
.menu:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 14.2857142857px;
  background: #fff;
  border-radius: 75px;
  transition: 0.3s;
}
.menu:before {
  top: -28.5714285714px;
}
.menu:after {
  top: 28.5714285714px;
}

#menu-1.close {
  background: transparent;
}
#menu-1.close:before,
#menu-1.close:after {
  top: 0;
}
#menu-1.close:before {
  transform: rotate(-45deg);
}
#menu-1.close:after {
  transform: rotate(45deg);
}
/* ========================================================PROGRAM=============================================== */
.program > table {
  width: 100%;
}
/* ======================================================== NEW=============================================== */
#images img {
  margin-top: 2rem;
}
/* ======================================================Enrollment============================================== */

@media (min-width: 0) {
  .pdf_option {
    justify-content: flex-start;
  }

  .main-content .content {
    flex-wrap: wrap;
  }
  .course-container-fixed {
    position: static;
  }
  .main-content {
    width: 100%;
  }
  .accordion-body .to-half {
    width: 100%;
  }
  .course-container-fixed {
    width: 100%;
  }
  .content-left {
    width: 100%;
  }
  .course-container-detail {
    float: left;
    width: 100%;
  }
  .column.two-third {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .column.one-third {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  #Top_bar {
    position: relative;
  }
  #main {
    margin-top: 0;
  }
  #main .main-content {
    padding-top: 0;
  }
  .top_bar_left {
    overflow: hidden;
  }
  /* show menu */
  .burgers {
    display: block;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-content .content {
    flex-wrap: wrap;
  }
  .course-container-fixed {
    position: static;
  }
  .course-container-detail {
    float: left;
    width: 100%;
  }
  .content-left {
    width: 100%;
  }
  .course-container-fixed {
    width: 100%;
  }
  .column.two-third {
    width: 100%;
    line-height: 25px;
    padding-left: 120px;
    margin: 0 13px;
    text-align: left;
  }
  .column.one-third {
    width: calc(33% - 100px);
    padding: 0;
  }
  #footer .container {
    display: flex !important;
  }
  #Top_bar {
    position: fixed;
  }
  #main {
    margin-top: 100px;
  }
  #main .main-content {
    padding-top: 70px;
  }
  .page {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-nav {
    flex-direction: row !important;
  }
  .burgers {
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Menu reponsive */
  .burgers {
    display: none;
  }
  .main-content .content {
    flex-wrap: nowrap;
  }
  .course-container-fixed {
    position: fixed;
  }
  .main-content {
    width: 66.666%;
  }
  .accordion-body .to-half {
    width: 50%;
    float: left;
  }
  .course-container-detail {
    float: right;
    width: 90%;
  }
  .content-left {
    width: 0;
  }
  .course-container-fixed {
    width: 433.2px;
  }
  .column.two-third {
    width: calc(65% - 100px);
  }
  .top_bar_left img {
    width: 100%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
/* Add styles for the bars and X icon */
.bar {
  width: 38px;
  height: 3px;
  background-color: #333;
  margin: 7px auto;
  transition: transform 0.4s ease;
}

/* Rotate the bars and hide the middle one to create an X */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #00377a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.burgers {
  position: absolute;
  top: 12px;
  right: 12px;
}
